node-red/flows/2motor_robocar/move_steer.json
[{"id":"a98d5f12.53192","type":"ui_dropdown","z":"d7f6d1fb.280b8","name":"","label":"Connect","place":"Select option","group":"ca56d62c.575908","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Car 1","value":"car1","type":"str"},{"label":"Car 2","value":"car2","type":"str"}],"payload":"","topic":"","x":238,"y":107,"wires":[[]]},{"id":"26708c8a.c9b644","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":2,"width":0,"height":0,"passthru":false,"label":"Forward","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":241,"y":153,"wires":[["2b76efa4.2d751"]]},{"id":"2b76efa4.2d751","type":"function","z":"d7f6d1fb.280b8","name":"f1","func":"\n//console.log(msg.timestamp, msg.event);\nvar ts = Date();\nvar pay=[0,0,0,0];\n\nvar speed = flow.get('speed')||180;\nvar tspeed = speed\n\nif (msg.topic == \"speed\"){\n    flow.set(\"speed\", msg.payload);\n    return [];\n} else {\n    flow.set(\"speed\", speed);\n}\n\nswitch(msg.payload){\n    case 0:\n        msg.event=\"Stop\";\n        pay=[{payload:false},{payload:0},{payload:0},{payload:0},{payload:0}]\n        break;\n    case 1:\n        msg.event=\"Forward\";\n        pay[0]={payload:10};\n        pay[1]={payload:speed};\n        pay[2]={payload: 0};\n        pay[3]={payload: 0};\n\n        break;\n    case 2:\n        msg.event=\"Backward\";\n        pay[0]={payload:speed};\n        pay[1]={payload: 10};\n        pay[2]={payload: 0};\n        pay[3]={payload: 0};\n\n        break;\n    case 11:\n        //msg.event=\"Left\"\n        //node.send({payload:[true, 255,  5], ts: Date(), event:\"Left\"});\n        \n        \n        pay[0]={payload: 0};\n        pay[1]={payload: speed};\n        pay[2]={payload: 0};\n        pay[3]={payload: tspeed};\n\n        break;\n    case 12:\n        //msg.event=\"Right\"\n        //node.send({payload: [false, 255, 255], ts: Date(), event:\"Right\"});\n        pay[0]={payload: 0};\n        pay[1]={payload: speed};\n        pay[2]={payload: tspeed};\n        pay[3]={payload: 0};\n        \n\n        break;\n    case 21:\n        msg.event=\"Bk Left\";\n        pay[0]={payload: speed};\n        pay[1]={payload: 0};\n        pay[2]={payload: tspeed};\n        pay[3]={payload: 0};\n        break;\n    case 22:\n        msg.event=\"Bk Right\";\n        pay[0]={payload: speed};\n        pay[1]={payload: 0};\n        pay[2]={payload: 0};\n        pay[3]={payload: tspeed};\n        break;\n}\n\npay[0].ts=ts\nreturn pay;","outputs":"4","noerr":0,"x":492.00006103515625,"y":319.99993896484375,"wires":[["30b33102.11320e"],["c3f249e4.6a3c88","7cb70b39.adb074"],["c76d9ddd.1f2a8","7cb70b39.adb074"],["f9567a9c.8fd598","7cb70b39.adb074"]]},{"id":"7cb70b39.adb074","type":"debug","z":"d7f6d1fb.280b8","name":"Debug","active":true,"console":"false","complete":"true","x":755,"y":498,"wires":[]},{"id":"4cce907d.09575","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":3,"width":0,"height":0,"passthru":false,"label":"Backward","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":237,"y":203,"wires":[["2b76efa4.2d751"]]},{"id":"e2c92ce8.22358","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":4,"width":0,"height":0,"passthru":false,"label":"Left","color":"","bgcolor":"","icon":"","payload":"11","payloadType":"num","topic":"","x":227,"y":250,"wires":[["2b76efa4.2d751"]]},{"id":"3090c950.634986","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":5,"width":0,"height":0,"passthru":false,"label":"Right","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"num","topic":"","x":227,"y":295,"wires":[["2b76efa4.2d751"]]},{"id":"7600eeb5.e92f3","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":8,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":227,"y":439,"wires":[["2b76efa4.2d751"]]},{"id":"a30e6743.de15d8","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":6,"width":0,"height":0,"passthru":false,"label":"Bk Left","color":"","bgcolor":"","icon":"","payload":"21","payloadType":"num","topic":"","x":237,"y":342,"wires":[["2b76efa4.2d751"]]},{"id":"573bc646.71adc8","type":"ui_button","z":"d7f6d1fb.280b8","name":"","group":"ca56d62c.575908","order":7,"width":0,"height":0,"passthru":false,"label":"Bk Right","color":"","bgcolor":"","icon":"","payload":"22","payloadType":"num","topic":"","x":237,"y":389,"wires":[["2b76efa4.2d751"]]},{"id":"30b33102.11320e","type":"arduino out","z":"d7f6d1fb.280b8","name":"","pin":"2","state":"PWM","arduino":"d1fb6c62.9a7e8","x":762.3333129882812,"y":170.3333282470703,"wires":[],"inputLabels":["p13"]},{"id":"c3f249e4.6a3c88","type":"arduino out","z":"d7f6d1fb.280b8","name":"","pin":"3","state":"PWM","arduino":"d1fb6c62.9a7e8","x":757.666633605957,"y":248.00001049041748,"wires":[],"inputLabels":["m1"]},{"id":"c76d9ddd.1f2a8","type":"arduino out","z":"d7f6d1fb.280b8","name":"","pin":"7","state":"PWM","arduino":"d1fb6c62.9a7e8","x":762.6666526794434,"y":400.3333463668823,"wires":[],"inputLabels":["m2"]},{"id":"58c37435.d3808c","type":"ui_slider","z":"d7f6d1fb.280b8","name":"","label":"Speed","group":"ca56d62c.575908","order":9,"width":0,"height":0,"passthru":true,"topic":"speed","min":"80","max":"250","step":1,"x":221,"y":505,"wires":[["2b76efa4.2d751"]]},{"id":"f9567a9c.8fd598","type":"arduino out","z":"d7f6d1fb.280b8","name":"","pin":"6","state":"PWM","arduino":"d1fb6c62.9a7e8","x":755.6666145324707,"y":331.6667079925537,"wires":[]},{"id":"7536af94.f1bcf","type":"bluetooth","z":"d7f6d1fb.280b8","name":"","btaddress":"","btname":"","x":546,"y":595,"wires":[["7cb70b39.adb074"]]},{"id":"fbd8801b.0e091","type":"inject","z":"d7f6d1fb.280b8","name":"","topic":"address","payload":"98:D3:32:30:D8:14","payloadType":"str","repeat":"","crontab":"","once":false,"x":214,"y":561,"wires":[["7536af94.f1bcf"]]},{"id":"f09a7ebc.35ac4","type":"inject","z":"d7f6d1fb.280b8","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":187,"y":661,"wires":[["7536af94.f1bcf"]]},{"id":"496ac733.4cb448","type":"inject","z":"d7f6d1fb.280b8","name":"","topic":"address","payload":"98:D3:32:20:D0:1B","payloadType":"str","repeat":"","crontab":"","once":false,"x":233,"y":603,"wires":[[]]},{"id":"ca56d62c.575908","type":"ui_group","z":"","name":"Default","tab":"e355ddd2.0919f","disp":true,"width":"6"},{"id":"d1fb6c62.9a7e8","type":"arduino-board","z":"","device":"/dev/cu.HC-05-DevB"},{"id":"e355ddd2.0919f","type":"ui_tab","z":"","name":"Home","icon":"home"}]